.six-line {
  margin-top: 100px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  text-align: center;
  grid-column: 1/-1;
  padding: 20px;
  padding: 30px;

  .image1 {
    background: url("../../assets/images/fish.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 60%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    .border {
      background: transparent;
      border: 8px solid transparent;
      height: 110%;
      width: 77%;
      border-image: linear-gradient(to right, #585ef9, #6aa724);
      border-image-slice: 1;
    }
  }
  .box1 {
    flex: 1;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #585ef9, #6aa724);
    border-image-slice: 1;
    margin-left: -30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 20px;
    height: 400px;
    text-align: left;
    padding-left: 50px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 2rem;
      height: 2rem;
      background: transparent;
      border: none;
      border-right: 8px solid transparent;
      border-top: 8px solid transparent;
      border-image: linear-gradient(to right, #585ef9, #6aa724);
      border-image-slice: 1;
      right: -15px;
      top: -15px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 2rem;
      height: 2rem;
      background: transparent;
      border: none;
      border-left: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-image: linear-gradient(to right, #585ef9, #6aa724);
      border-image-slice: 1;
      left: -15px;
      bottom: -15px;
    }

    .btn1 {
      font-size: 1rem;
      border: solid 2px transparent;
      border-image: linear-gradient(to right, #585ef9, #6aa724);
      border-image-slice: 1;
      font-family: "Baloo Chettan", cursive;
      margin-top: 10px;
      background: linear-gradient(45deg, rgb(112, 46, 212) 30%, #c235cc 90%);
      color: white;
      height: 2rem;
      padding: 0 30px;
      transition: all, 0.3s ease;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: white;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        #702ed4 50%
      );
      background-size: 320%;
      transition: all 0.5s;

      &:hover {
        transform: scale(1.05);
        transition: all, 0.3s ease;
        box-shadow: 0 3px 5px 2px rgba(90, 77, 138, 0.5);
        background-position: 100%;
      }
    }
  }
}

// #585EF9
// #6AA724
